* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000;
    padding: 1rem;
    gap: 0.5rem;
}
h1 {
    font-size: 1.2rem;
}
html {
    font-size: 16px;
    color: white;
}
.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 0.25rem;
}
.card img {
    width: 100%; /* o sea: ocupa el 100% del ancho de la card */
    aspect-ratio: 2 / 3;
    object-fit: cover;
    max-width: 400px;
}

.card-title {
    font-size: 1rem;
    font-weight: 700;
    margin: 0.5rem 0;

    display: -webkit-box;
    -webkit-line-clamp: 1; /* máximo 2 líneas */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hidden {
    display: none;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; /* cubre toda la pantalla */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); /* fondo semitransparente */
    z-index: 1000;
}

.modal-content {
    background-color: darkslateblue;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
